  $main-font: "Source Sans Pro", sans-serif;
  $secondary-font: "Herr Von Muellerhoff", cursive;
  $body-font: "Cabin", sans-serif;
  $main-font-color-dark: #252525;
  $secondary-font-color: #c59d5f;
  $body-font-color: #515151;

$font-1: "Pacifico", cursive;
$font-2: serif, cursive;
$font-facebook: serif, cursive;
$font-cover: "";
@mixin triangle($size, $color) {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
}

  